extends layout

block content
    div.container
    form.row.event.event-create(method="POST", action="/event/new")
        input.title.col-xs-6(type='text', placeholder='Event Title', name="title")
        input.date.col-xs-6(type='text',placeholder='When',name="when")
        input.from-time.col-xs-6(type='text',placeholder='From',name="from")
        input.to-time.col-xs-6(type='text',placeholder='To',name="to")
        input.where.col-xs-12(type='text',placeholder='Where',name="where")
        input.submit.btn.btn-default(type='submit',value='Create')
