extends layout

block content
    form.event.event-create
        input.title(type='text', placeholder='Event Title')
        input.date(type='text',placeholder='When')
        input.from-time(type='text',placeholder='From')
        input.to-time(type='text',placeholder='To')
        input.where(type='text',placeholder='Where')
        input.submit(type='submit',value='Create')
